@import url("resource:///org/gnome/gnome-panel/theme/common.css");

panel-toplevel {
  background-color: #393f3f;
}

.gp-text-color {
  color: #ffffff;
}

.gnome-panel-menu-bar,
panel-applet > menubar,
gp-applet > menubar {
  background: transparent;
  box-shadow: none;
}

.gnome-panel-menu-bar menuitem:hover,
panel-applet > menubar menuitem:hover,
gp-applet > menubar menuitem:hover {
  background-color: #215d9c;
}

.gnome-panel-menu-bar > menuitem > label,
panel-applet > menubar > menuitem > label,
gp-applet > menubar > menuitem > label,
gp-applet > menubar > menuitem > box > label,
gp-calendar-window label,
#clock-applet-button label,
#showdesktop-button label {
  font-weight: normal;
  color: #ffffff;
}

.gnome-panel-menu-bar > menuitem:hover > label,
panel-applet > menubar > menuitem:hover > label,
gp-applet > menubar > menuitem:hover > .gp-text-color,
gp-applet > menubar > menuitem:hover > box > .gp-text-color {
  font-weight: normal;
  color: #ffffff;
}

wnck-pager:selected {
  background-color: #215d9c;
}

gp-arrow-button {
  border: 1px solid #1c1f1f;
  background-image: linear-gradient(to bottom, #343a3a, #2f3434 60%, #2a2f2f);
}

gp-arrow-button:hover {
  background-image: linear-gradient(to bottom, #3b4242, #343a3a 60%, #2f3434);
}

gp-arrow-button:active {
  background-image: linear-gradient(to bottom, #232727, #2d3232);
}

#tasklist-button,
#tasklist-button:hover,
#tasklist-button:active,
#tasklist-button:checked {
  padding: 0;
  margin: 0;
  border: 0;
  background-image: none;
}

#tasklist-button > box {
  padding: 2px 4px;
  margin: 1px;
  border: 1px solid;
  border-radius: 3px;
  transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  outline-color: rgba(238, 238, 236, 0.3);
  border-color: #1b1f20;
  border-bottom-color: #0b0c0c;
  background-image: linear-gradient(to bottom, #2e3436, #2a2e30 60%, #25292b);
  text-shadow: 0 -1px rgba(0, 0, 0, 0.82745);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.05);
}

#tasklist-button:hover > box {
  background-image: linear-gradient(to bottom, #353c3e, #2e3436 60%, #2a2e30);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.05);
  -gtk-icon-effect: highlight;
}

#tasklist-button:active > box,
#tasklist-button:checked > box {
  outline-color: rgba(238, 238, 236, 0.3);
  border-color: #1b1f20;
  background-image: none;
  background-color: #25292b;
  box-shadow: inset 0 1px rgba(255, 255, 255, 0);
  text-shadow: none;
  transition-duration: 50ms;
  -gtk-icon-effect: highlight;
}

#tasklist-button label {
  color: #919494;
}

#tasklist-button:hover label,
#tasklist-button:active label,
#tasklist-button:checked label {
  color: #eeeeec;
}
