@import url("resource:///org/gnome/gnome-panel/theme/common.css");

panel-toplevel {
  background-color: #e8e8e7;
}

.gp-text-color {
  color: #000000;
}

.gnome-panel-menu-bar,
panel-applet > menubar,
gp-applet > menubar {
  background: transparent;
  box-shadow: none;
}

.gnome-panel-menu-bar menuitem:hover,
panel-applet > menubar menuitem:hover,
gp-applet > menubar menuitem:hover {
  background-color: #4a90d9;
}

.gnome-panel-menu-bar > menuitem > label,
panel-applet > menubar > menuitem > label,
gp-applet > menubar > menuitem > label,
gp-applet > menubar > menuitem > box > label,
gp-calendar-window label,
#clock-applet-button label,
#showdesktop-button label {
  font-weight: normal;
  color: #000000;
}

.gnome-panel-menu-bar > menuitem:hover > label,
panel-applet > menubar > menuitem:hover > label,
gp-applet > menubar > menuitem:hover > .gp-text-color,
gp-applet > menubar > menuitem:hover > box > .gp-text-color {
  font-weight: normal;
  color: #ffffff;
}

wnck-pager:selected {
  background-color: #4a90d9;
}

gp-arrow-button {
  border: 1px solid #9d9d99;
  background-image: linear-gradient(to bottom, #e8e8e7, #dededd 60%, #cfcfcd);
}

gp-arrow-button:hover {
  background-image: linear-gradient(to bottom, #f7f7f7, #e8e8e7 60%, #dededd);
}

gp-arrow-button:active {
  background-image: linear-gradient(to bottom, #c8c8c5, #dcdcda);
}

#tasklist-button,
#tasklist-button:hover,
#tasklist-button:active,
#tasklist-button:checked {
  padding: 0;
  margin: 0;
  border: 0;
  background-image: none;
}

#tasklist-button > box {
  padding: 2px 4px;
  margin: 1px;
  border: 1px solid;
  border-radius: 3px;
  transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  outline-color: rgba(46, 52, 54, 0.3);
  border-color: #b6b6b3;
  border-bottom-color: #91918c;
  background-image: linear-gradient(to bottom, #e8e8e7, #dededd 60%, #cfcfcd);
  text-shadow: 0 1px rgba(255, 255, 255, 0.76923);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.8);
}

#tasklist-button:hover > box {
  background-image: linear-gradient(to bottom, #f7f7f7, #e8e8e7 60%, #dededd);
  box-shadow: inset 0 1px white;
  -gtk-icon-effect: highlight;
}

#tasklist-button:active > box,
#tasklist-button:checked > box {
  outline-color: rgba(46, 52, 54, 0.3);
  border-color: #b6b6b3;
  background-image: none;
  background-color: #ccccca; /* was #d9d9d7 in Adwaita */
  box-shadow: inset 0 1px rgba(255, 255, 255, 0);
  text-shadow: none;
  transition-duration: 50ms;
  -gtk-icon-effect: highlight;
}

#tasklist-button label {
  color: #5d6163;
}

#tasklist-button:hover label,
#tasklist-button:active label,
#tasklist-button:checked label {
  color: #2e3436;
}
